<section class="container-fluid">
    <div id="details-cont" class="row">
        <div id="img" class="col-12 col-lg-6">
            <img src="/images/{{activityData.img}}" alt="{{activityData.name}}">
        </div>
        <div id="details" class="col-12 col-lg-6">
            <h2>{{activityData.title}}</h2>
            <p>{{activityData.description}}</p>
            <p>Rank: {{activityData.ranking}}</p>
            <p>How often do you do this a week? {{activityData.often}} times a week</p>
        </div>
    </div>
</section>